{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
   <h1>Forgot Password?</h1>
  </div>
    <div class="card-body">

                <h4 class="text-center">Please enter your email</h4>
                <form action="." method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                    <div class="form-check">
                        <button type="submit" class="save btn btn-primary">Send Email</button>
                    </div>
                </form>
            </div>
        </div>



{% endblock %}