{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change you password{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
   <h1>Change Password</h1>
  </div>
    <div class="card-body">

                <form action="." method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                    <div class="form-check">
                        <button type="submit" class="save btn btn-primary">Change Password</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}